<footer class="d-flex-column d-flex-column-center">
    <p>&copy; Todos os direiros reservados - 2023</p>
    <ul>
        <li><a href="https://wa.me/5514996326817?text=Olá!%20Olhei%20seus%20trabalhos%20no%20portfólio%20e%20me%20interessei.%20Vamos%20conversar?"><span class="mdi mdi-whatsapp mdi-36px"></span></a></li>
        <li><a href="https://www.linkedin.com/in/vin%C3%ADcius-de-souza-412ab4229/"><span class="mdi mdi-linkedin-box mdi-36px"></span></a></li>
        <li><a href="https://github.com/viniciusSouza30"><span class="mdi mdi-github-circle mdi-36px"></span></a></li>
    </ul>
</footer>