<header>
    <nav class="navbar">
        <a href="/"><img src="img/logo-svg.svg" alt="Logo Vinícius Marinelli"/></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#sobre-mim">Sobre mim</a></li>
            <li><a href="">Habilidades</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
</header>