<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section>
            <div class="banner d-flex-column d-flex-column-center">
                <p class="titulo">Bem-vindo</p>
                <p class="texto">Uma boa interface pode ajudar a construir a confiança do cliente em sua marca, criando uma experiência de usuário consistente e agradável em todas as plataformas.</p>
                <button class="btn btn-projetos"><a href="/projetos">CONHECER PROJETOS</a></button>
            </div>
        </section>

        <section class="sobre-mim">
            <a name="sobre-mim"></a>
            <h3>Sobre mim</h3>
            <div class="conteudo-sobre-mim">
                <div class="img-sobre-mim">
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque architecto beatae repellat numquam provident dolor! Quidem, omnis? Dolore nobis quos sint nulla! Accusantium, qui! Temporibus cum aliquid modi repudiandae at.
                Perspiciatis recusandae numquam ab accusantium illo, corporis dolor enim, ratione nobis voluptate earum nam totam quia aliquid modi quae quo at adipisci nesciunt explicabo asperiores itaque? Molestias maiores quisquam aut.</p>
            </div>
        </section>

    </main>

    <%- include('../partials/contact.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>