<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section>
            <div class="banner d-flex-column d-flex-column-center">
                <p class="titulo">Bem-vindo</p>
                <p class="texto">Uma boa interface pode ajudar a construir a confiança do cliente em sua marca, criando uma experiência de usuário consistente e agradável em todas as plataformas.</p>
                <button class="btn btn-projetos"><a href="/projetos">CONHECER PROJETOS</a></button>
            </div>
        </section>

        <section class="sobre-mim sections">
            <a name="sobre-mim"></a>
            <h3>Sobre mim</h3>
            <div class="conteudo-sobre-mim">
                <div class="img-sobre-mim"><img src="img/PSX_20230319_223328.jpg" alt="Foto do Vinícius Marinelli. Homem de estatura média, com blusa preta com um leve sorriso. Está usando um colar e no fundo da foto uma paisagem com árvore um prédio"></div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque architecto beatae repellat numquam provident dolor! Quidem, omnis? Dolore nobis quos sint nulla! Accusantium, qui! Temporibus cum aliquid modi repudiandae at.
                Perspiciatis recusandae numquam ab accusantium illo, corporis dolor enim, ratione nobis voluptate earum nam totam quia aliquid modi quae quo at adipisci nesciunt explicabo asperiores itaque? Molestias maiores quisquam aut.</p>
            </div>
        </section>

        <section class="habilidades sections">
            <h3>Habilidades</h3>
            <h4>Técnicas</h4>
            <ul>
                <li>
                    <div><img src="" alt=""></div>
                    HTML5
                </li>
                <li>
                    <div><img src="img/css-3.png" alt=""></div>
                    CSS3
                </li>
                <li>
                    <div><img src="img/java-script.png" alt=""></div>
                    JavaScript
                </li>
                <li>
                    <div><img src="img/80700f411724b97d58041784738ee176.png" alt=""></div>
                    jQuery
                </li>
                <li>
                    <div><img src="img/ui.png" alt=""></div>
                    UI
                </li>
                <li>
                    <div><img src="img/figma.png" alt=""></div>
                    Figma
                </li>
                <li>
                    <div><img src="img/photoshop.png" alt=""></div>
                    Photoshop
                </li>
                <li>
                    <div><img src="img/php.png" alt=""></div>
                    PHP
                </li>
                <li>
                    <div><img src="img/mysql.png" alt=""></div>
                    MySQL
                </li>
            </ul>
            <h4>Sociemocionais</h4>
            <ul>
                <li><div><img src="img/plano.png" alt="Imagem demonstrando um plano"></div>Organização</li>
                <li><div><img src="img/disciplina.png" alt="Imagem representando a disciplina"></div>Disciplina</li>
                <li><div><img src="img/equipe.png" alt="Imagem para representar o trabalho em equipe"></div>Trabalho em equipe</li>
                <li><div><img src="img/determinacao.png" alt="Imagem com o um alvo para representar a determinação"></div>Determinação</li>
            </ul>
        </section>

        <section class="projetos sections">
            <h3>Projetos</h3>
            <h4>Sites</h4>
        </section>

    </main>

    <%- include('../partials/contact.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>